@use '../base/variables' as *;

.footer {
    border-top: 1px solid $border-subtle;
    background: #fff;
    color: $text-subtle;
    
    padding: 10px 13px !important;

    a {
        color: $navy-blue;
    }
}
