@use '../base/variables' as *;

.sidebar {
    background: $surface-color !important;
    height: 100%;
    padding-left: 5px !important;
    padding-right: 0px !important;
    border-right: 1px solid $border-subtle;

    .nav-link {
        display: flex;
        align-items: center;
        gap: 6px;

        position: relative;
        color: $text-main !important;
        border-radius: 4px;
        font-size: 14px;

        &:hover {
            background: $hover-bg;
            color: $text-hover !important;
        }

        &.active {
            background: #fff !important;

            &::before {
                content: '';
                position: absolute;
                left: 2px;
                top: 50%;
                transform: translateY(-50%);
                width: 4px;
                height: 18px;
                background-color: $brand-primary;
                border-radius: 2px;
            }
        }
    }

    .nav-icon {
        width: 19px;
        height: 19px;
    }

    .nav-treeview > .nav-item > .nav-link {
        margin-left: 18px;
        font-size: 13px;
        color: $text-subtle !important;

        &:hover {
            background: $hover-bg-strong;
            color: $text-hover !important;
        }
    }
}
