/**
* MAIN LAYOUT
*/
.wrapper {
    display: grid;
    height: 100vh;

    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        'header header'
        'sidebar content'
        'footer footer';
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 250px 1fr;
}

.sidebar {
    grid-area: sidebar;
    height: auto;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

/*
* Navigation
*/
.sidebar .active {
    background-color: #136f9a !important;
    color: #fff !important;
}

.sidebar .nav-link:hover {
    color: #2c3e50 !important;
}

/*
* Custom Datatable
*/
div.dt-container select.dt-input {
    padding-left: 7px !important;
    padding-right: 22px !important;
    margin-right: 5px;
}
