/**
* MAIN LAYOUT
*/
.wrapper {
    display: grid;
    height: 100vh;

    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        'header header'
        'sidebar content'
        'footer footer';
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 250px 1fr;
}

.sidebar {
    grid-area: sidebar;
    height: auto;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}



/*
* Navigation
*/
.sidebar .active {
    background-color: #136F9A !important;
    color: #fff !important;
}

.sidebar .nav-link:hover{
    color: #2C3E50!important;
}
