@use '../base/variables' as *;

#btn-clear-filters {
    background: #eef4fb;
    color: #1b5e9c;
    border: 1px solid #c8dbf2;
    border-radius: 4px;
    padding: 0 10px;
    height: 34px;

    &:hover {
        background: #e2edf9;
    }
    &:active {
    transform: scale(0.98);
}
}

.assign-role-btn{
    color: $text-subtle;

    &:hover {
        color: $text-hover;
    }
}

.action-button {
    background-color: $navy-blue;
    border-radius: 4px;
    &:hover {

    }
}
