// Colors
$blue: #0f6cbd;
$blue-hover: #115ea3;
$blue-active: #005a9e;

$navy-blue: #002050;

$red: #a4262c;

$black: #323130;

$neutral-light: #f3f2f1;
$neutral-quaternary: #d1d1d1;

$hover-bg: #edebe9;
$hover-bg-strong: #e1dfdd;

$surface-color: #f3f2f1;
$sub-surface-color: #f3f4f6;

$border-subtle: #d8dce2;
$text-main: #323130;
$text-hover: #201f1e;
$text-subtle: #5b6370;

// Box shadow
$fluent-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,0.132), 0 0.3px 0.9px 0 rgba(0,0,0,0.108) !important;

