$blue: #0078d4;
$navy-blue: #002050;

$hover-bg: #edebe9;
$hover-bg-strong: #e1dfdd;

$surface-color: #f3f2f1;

$border-subtle: #d8dce2;
$text-main: #323130;
$text-hover: #201f1e;
$text-subtle: #5b6370;

